* {

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

.meta-container {



}

#img1, #img2 {



}

#searchb {



}

#gs, #lucky {



}

#footer2 {



}

#footerLeft {



}

#footerRight {

  

}